h1 {
  text-align: center;
}

h2 {
  margin-left: 7%;
}

#screens {
  margin: auto;
  width: 90%;
  height: 450px;
  padding: 50px;
  border: solid black 1px;
}

.screen {
  display: inline-block;
  height: 200px;
  width: 300px;
  color: blue;
  border: solid red 1px;
}

.screen p {
  margin: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
}
