h1 {
  text-align: center;
}

h2 {
  margin-left: 7%;
}

#screen_context {
  margin: auto;
  width:90%;
  border: solid black 1px;
}

#screens {
  margin: auto;
  width: 90%;
  min-height: 450px;
  margin: 50px;
}

#ordering {
  padding: 10px;
  text-align: center;
  margin:auto;
}

#ordering>input {
  width: 30px;
  margin-right: 10px;
  text-align: center;
}

.screen {
  display: inline-block;
  height: 200px;
  width: 300px;
  color: blue;
  border: solid red 1px;
}

.screen p {
  margin: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
}
