h1 {
  text-align: center;
}

h2 {
  margin-left: 7%;
}

#screens {
  margin: auto;
  width: 90%;
  height: 450px;
  padding: 50px;
  border: solid black 1px;
}

.screen {
  display: inline-block;
  height: 200px;
  width: 300px;
  color: white;
  background-color: black;
}
